<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=6 color=#F32500>
        <div  align=center>
            تمرین هفته دوم بوت کمپ یادگیری ماشین-
            مپصا
        </div>
        <br/>
    </font>
</div>

<div style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<div align=center>
			<font face="IranNastaliq" size=5>    
                  چون عهده نمی‌شود کسی فردا را
                <br><br>
                 حالی خوش دار این دل پر سودا را
                <br><br>
                می نوش به ماهتاب ای ماه که ماه
                <br><br>
                بسیار بتابد و نیابد ما را        			   	
                <p></p>
			</font>
        </div>
    </font>
</div>

In [65]:
import numpy as np
import pandas as pd

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال اول:‌
        </font>
در این تمرین قصد داریم به تحلیل داده های فیلم های برتر سینمای جهان به معیار imdb بپردازیم. ابتدا دادههای مربوط به فیلم را از فایل csv فراخوانی میکنیم
        <br/>
    </font>
</div>

In [76]:
movies = pd.read_csv("imdb_movie_rank.csv")
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [67]:
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        در این دیتاست اگر داده ای وجود دارد که مقدار nullدارد سطرش را حذف کنید. 
        <br/>
    </font>
</div>

In [68]:
#TODO
movies.dropna(axis = 0  , inplace=True)
movies

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        فیلم ها را براساس مدت زمان فیلم به صورت نزولی مرتب کنید و پنجاه تای اول را در فایل csv با نام long_time ذخیره کنید 
        <br/>
    </font>
</div>

In [69]:
#TODO
new_duratuion_movies = movies.sort_values("duration" , ascending=False)
new_duratuion_movies.to_csv( 'long_time' , index = False)
new_duratuion_movies

,star_rating,title,content_rating,genre,duration,actors_list
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
...,...,...,...,...,...,...
293,8.1,Duck Soup,PASSED,Comedy,68,"[u'Groucho Marx', u'Harpo Marx', u'Chico Marx']"
88,8.4,The Kid,NOT RATED,Comedy,68,"[u'Charles Chaplin', u'Edna Purviance', u'Jack..."
258,8.1,The Cabinet of Dr. Caligari,UNRATED,Crime,67,"[u'Werner Krauss', u'Conrad Veidt', u'Friedric..."
338,8.0,Battleship Potemkin,UNRATED,History,66,"[u'Aleksandr Antonov', u'Vladimir Barsky', u'G..."
389,8.0,Freaks,UNRATED,Drama,64,"[u'Wallace Ford', u'Leila Hyams', u'Olga Bacla..."

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         تابعی بنویسید که نام بازیگر را به عنوان آرگومان بگیرد و تعداد فیلم های برتر از این لیست را که بازی کرده محاسبه کند.
        <br/>
    </font>
</div>

In [70]:
#TODO

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         میانگین امتیاز فیلم ها را براساس ژانر نمایش به دست آورید.
        <br/>
    </font>
</div>

In [71]:
#TODO
movies.groupby('genre')['star_rating'].mean().sort_values(ascending = False)

genre
Western      8.255556
Film-Noir    8.033333
History      8.000000
Mystery      7.975000
Adventure    7.940541
Sci-Fi       7.920000
Crime        7.916935
Animation    7.914516
Drama        7.902518
Action       7.885926
Biography    7.857895
Family       7.850000
Comedy       7.822436
Horror       7.806897
Fantasy      7.700000
Thriller     7.680000
Name: star_rating, dtype: float64

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
       ستونی به این داده ها اضافه کنید که در صورت اینکه یک فیلم مدت نمایش آن 150 دقیقه و یا بیشتر بود مقدار صفر و در غیر اینصورت 1 در هر سطر این ستون قرار گیرد. دیتافریم حاصل را در یک فایل csv ذخیره کنید.
        <br/>
    </font>
</div>

In [72]:
#TODO
f = lambda x : 0 if x>=150 else 1
movies['soton_jadid'] = movies['duration'].apply(f)

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        عنوان ستونها را به نحوی تغییر دهید که در ستون های دارای _(آندرلاین) فاصله قرار گیرد. به عنوان مثال star_rating به star rating تبدیل می شود.
        <br/>
    </font>
</div>

In [73]:
#TODO
movies.columns = [x.replace('_' , ' ') for x in movies.columns]
movies

,star rating,title,content rating,genre,duration,actors list,soton jadid
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",1
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",0
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",0
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",0
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",0
...,...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...",1
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...",1
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",1
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...",1
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",1

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        داده ها را براساس ژانر گروه بندی و مرتب کنید و از هر ژانر صرفا سه تای برتر را نمایش دهید
        <br/>
    </font>
</div>

In [74]:
#TODO


sorted_movies = movies.sort_values(by=['genre', 'star rating'], ascending=False)

top_movies_by_genre = {}

for genre in sorted_movies['genre'].unique():
    top_movies_by_genre[genre] = sorted_movies[sorted_movies['genre'] == genre][:3]

for genre, movies in top_movies_by_genre.items():
    print(f"Genre: {genre}")
    print(movies)
    print('\n')

Genre: Western
    star rating                           title content rating    genre  \
6           8.9  The Good, the Bad and the Ugly      NOT RATED  Western
26          8.6    Once Upon a Time in the West          PG-13  Western
59          8.5                Django Unchained              R  Western

    duration                                        actors list  soton jadid
6        161  [u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...            0
26       175  [u'Henry Fonda', u'Charles Bronson', u'Claudia...            0
59       165  [u'Jamie Foxx', u'Christoph Waltz', u'Leonardo...            0


Genre: Thriller
     star rating               title content rating     genre  duration  \
350          8.0   Shadow of a Doubt       APPROVED  Thriller       108
496          7.8              Misery              R  Thriller       107
728          7.6  La piel que habito              R  Thriller       120

                                           actors list  soton jadid
350  [u'Teresa Wright', u'Joseph Cotten', u'Macdona...            1
496  [u'James Caan', u'Kathy Bates', u'Richard Farn...            1
728  [u'Antonio Banderas', u'Elena Anaya', u'Jan Co...            1


Genre: Sci-Fi
     star rating         title content rating   genre  duration  \
145          8.2  Blade Runner              R  Sci-Fi       117
321          8.0        Brazil              R  Sci-Fi       132
408          7.9       Gravity          PG-13  Sci-Fi        91

                                           actors list  soton jadid
145  [u'Harrison Ford', u'Rutger Hauer', u'Sean You...            1
321  [u'Jonathan Pryce', u'Kim Greist', u'Robert De...            1
408  [u'Sandra Bullock', u'George Clooney', u'Ed Ha...            1


Genre: Mystery
    star rating        title content rating    genre  duration  \
38          8.6  Rear Window       APPROVED  Mystery       112
46          8.5      Memento              R  Mystery       113
76          8.4      Vertigo       APPROVED  Mystery       128

                                          actors list  soton jadid
38  [u'James Stewart', u'Grace Kelly', u'Wendell C...            1
46  [u'Guy Pearce', u'Carrie-Anne Moss', u'Joe Pan...            1
76  [u'James Stewart', u'Kim Novak', u'Barbara Bel...            1


Genre: Horror
    star rating        title content rating   genre  duration  \
39          8.6       Psycho              R  Horror       109
57          8.5        Alien              R  Horror       117
62          8.5  The Shining              R  Horror       146

                                          actors list  soton jadid
39  [u'Anthony Perkins', u'Janet Leigh', u'Vera Mi...            1
57  [u'Sigourney Weaver', u'Tom Skerritt', u'John ...            1
62  [u'Jack Nicholson', u'Shelley Duvall', u'Danny...            1


Genre: History
     star rating                title content rating    genre  duration  \
338          8.0  Battleship Potemkin        UNRATED  History        66

                                           actors list  soton jadid
338  [u'Aleksandr Antonov', u'Vladimir Barsky', u'G...            1


Genre: Film-Noir
     star rating          title content rating      genre  duration  \
105          8.3  The Third Man      NOT RATED  Film-Noir        93
210          8.1          Laura       APPROVED  Film-Noir        88
687          7.7     Spellbound        UNRATED  Film-Noir       111

                                           actors list  soton jadid
105  [u'Orson Welles', u'Joseph Cotten', u'Alida Va...            1
210  [u'Gene Tierney', u'Dana Andrews', u'Clifton W...            1
687  [u'Ingrid Bergman', u'Gregory Peck', u'Michael...            1


Genre: Fantasy
     star rating                      title content rating    genre  duration  \
638          7.7  The City of Lost Children              R  Fantasy       112

                                           actors list  soton jadid
638  [u'Ron Perlman', u'Daniel Emilfork', u'Judith ...            1


Genre: Family
     star rating                                title content rating   genre  \
468          7.9           E.T. the Extra-Terrestrial             PG  Family
497          7.8  Willy Wonka & the Chocolate Factory              G  Family

     duration                                        actors list  soton jadid
468       115  [u'Henry Thomas', u'Drew Barrymore', u'Peter C...            1
497       100  [u'Gene Wilder', u'Jack Albertson', u'Peter Os...            1


Genre: Drama
    star rating         title content rating  genre  duration  \
5           8.9  12 Angry Men      NOT RATED  Drama        96
9           8.9    Fight Club              R  Drama       139
13          8.8  Forrest Gump          PG-13  Drama       142

                                          actors list  soton jadid
5   [u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...            1
9   [u'Brad Pitt', u'Edward Norton', u'Helena Bonh...            1
13    [u'Tom Hanks', u'Robin Wright', u'Gary Sinise']            1


Genre: Crime
   star rating                     title content rating  genre  duration  \
0          9.3  The Shawshank Redemption              R  Crime       142
1          9.2             The Godfather              R  Crime       175
2          9.1    The Godfather: Part II              R  Crime       200

                                         actors list  soton jadid
0  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...            1
1    [u'Marlon Brando', u'Al Pacino', u'James Caan']            0
2  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...            0


Genre: Comedy
    star rating              title content rating   genre  duration  \
25          8.6  Life Is Beautiful          PG-13  Comedy       116
29          8.6        City Lights         PASSED  Comedy        87
35          8.6       Modern Times              G  Comedy        87

                                          actors list  soton jadid
25  [u'Roberto Benigni', u'Nicoletta Braschi', u'G...            1
29  [u'Charles Chaplin', u'Virginia Cherrill', u'F...            1
35  [u'Charles Chaplin', u'Paulette Goddard', u'He...            1


Genre: Biography
    star rating             title content rating      genre  duration  \
8           8.9  Schindler's List              R  Biography       195
18          8.7        Goodfellas              R  Biography       146
31          8.6  The Intouchables              R  Biography       112

                                          actors list  soton jadid
8   [u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...            0
18   [u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']            1
31  [u'Fran\xe7ois Cluzet', u'Omar Sy', u'Anne Le ...            1


Genre: Animation
    star rating                   title content rating      genre  duration  \
30          8.6           Spirited Away             PG  Animation       125
55          8.5           The Lion King              G  Animation        89
61          8.5  Grave of the Fireflies        UNRATED  Animation        89

                                          actors list  soton jadid
30  [u'Daveigh Chase', u'Suzanne Pleshette', u'Miy...            1
55  [u'Matthew Broderick', u'Jeremy Irons', u'Jame...            1
61  [u'Tsutomu Tatsumi', u'Ayano Shiraishi', u'Ake...            1


Genre: Adventure
    star rating                                              title  \
7           8.9      The Lord of the Rings: The Return of the King
10          8.8  The Lord of the Rings: The Fellowship of the Ring
14          8.8              The Lord of the Rings: The Two Towers

   content rating      genre  duration  \
7           PG-13  Adventure       201
10          PG-13  Adventure       178
14          PG-13  Adventure       179

                                          actors list  soton jadid
7   [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...            0
10  [u'Elijah Wood', u'Ian McKellen', u'Orlando Bl...            0
14  [u'Elijah Wood', u'Ian McKellen', u'Viggo Mort...            0


Genre: Action
    star rating                                           title  \
3           9.0                                 The Dark Knight
11          8.8                                       Inception
12          8.8  Star Wars: Episode V - The Empire Strikes Back

   content rating   genre  duration  \
3           PG-13  Action       152
11          PG-13  Action       148
12             PG  Action       124

                                          actors list  soton jadid
3   [u'Christian Bale', u'Heath Ledger', u'Aaron E...            0
11  [u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'...            1
12  [u'Mark Hamill', u'Harrison Ford', u'Carrie Fi...            1

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال دوم:‌
        </font>
        تفاوت بین متد read_table و read_csv در ماژول pandas چیست؟
        <br/>
    </font>
</div>

#TODO 
read_csv baray file ba format csv vali read_table har no dade jadvali ra mitavanad bekhanad

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال سوم:‌
        </font>
        با استفاده از متد value_counts تعداد فیلمها در هر ریت محتوا را به دست آورید.
        <br/>
    </font>
</div>

In [84]:
movies.groupby('genre')['title'].agg('count')

genre
Action       136
Adventure     75
Animation     62
Biography     77
Comedy       156
Crime        124
Drama        278
Family         2
Fantasy        1
Film-Noir      3
History        1
Horror        29
Mystery       16
Sci-Fi         5
Thriller       5
Western        9
Name: title, dtype: int64

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال چهارم:‌
        </font>
       توضیح دهید crosstab در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟
        <br/>
    </font>
</div>

In [88]:
pd.crosstab(movies.genre, movies.content_rating)
# tedad tekrar va tozi dade ha ra namayesh midahad
# dar inja tedad tekrar rade seni bar asas har genre ra neshan midahad

content_rating,APPROVED,G,GP,NC-17,NOT RATED,PASSED,PG,PG-13,R,TV-MA,UNRATED,X
genre,,,,,,,,,,,,
Action,3,1,1,0,4,1,11,44,67,0,3,0
Adventure,3,2,0,0,5,1,21,23,17,0,2,0
Animation,3,20,0,0,3,0,25,5,5,0,1,0
Biography,1,2,1,0,1,0,6,29,36,0,0,0
Comedy,9,2,1,1,16,3,23,23,73,0,4,1
Crime,6,0,0,1,7,1,6,4,87,0,11,1
Drama,12,3,0,4,24,1,25,55,143,1,9,1
Family,0,1,0,0,0,0,1,0,0,0,0,0
Fantasy,0,0,0,0,0,0,0,0,1,0,0,0
Film-Noir,1,0,0,0,1,0,0,0,0,0,1,0
History,0,0,0,0,0,0,0,0,0,0,1,0
Horror,2,0,0,1,1,0,1,2,16,0,5,1
Mystery,4,1,0,0,1,0,1,2,6,0,1,0
Sci-Fi,1,0,0,0,0,0,0,1,3,0,0,0
Thriller,1,0,0,0,0,0,1,0,3,0,0,0
Western,1,0,0,0,2,0,2,1,3,0,0,0

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال پنچم:‌
        </font>
         توضیح دهید متد corr در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟ 
        <br/>
    </font>
</div>

###### movies.corr() 
# baray mohasebe zarib hambastegi bekar miravad

#TODO

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال ششم:‌
        </font>
        با استفاده از متد sample هفتاد و پنج درصد سطرها را در یک متغیر به نام sample_1 بریزید. درنهایت با استفاده از متد drop از دیتافریم اصلی این سطرها را حذف و دیتافریم جدید را در sample_2 بریزید
        <br/>
    </font>
</div>

In [98]:
#TODO
sample_1 = movies.sample(frac=0.75 )
sample_2 = movies.drop(sample_1.index)
sample_2

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar..."
...,...,...,...,...,...,...
963,7.4,La Femme Nikita,R,Action,118,"[u'Anne Parillaud', u'Marc Duret', u'Patrick F..."
971,7.4,Death at a Funeral,R,Comedy,90,"[u'Matthew Macfadyen', u'Peter Dinklage', u'Ew..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال هفتم:‌
        </font>
         متد pivot_table چه عملکردی دارد؟
        <br/>
    </font>
</div>

In [99]:
#TODO
#kholasei as data ha ra dar yek jadval miavarad