In [2]:
import pandas as pd

In [3]:
bime = pd.read_csv('train.csv')
bime

,Customer Id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,3JUN0VW6F043,34,Private Sector/Self Employed,Yes,1300000,6,0,Yes,No,No
1,VLHY2ABIR4QL,28,Private Sector/Self Employed,Yes,750000,7,0,Yes,No,No
2,6E3F7UNXYNFF,28,Private Sector/Self Employed,Yes,750000,6,0,Yes,No,No
3,JJ8R0ZRYWR31,32,Government Sector,Yes,800000,6,1,No,No,No
4,2WGFUEX6IEHM,34,Private Sector/Self Employed,Yes,700000,4,1,No,No,No
...,...,...,...,...,...,...,...,...,...,...
1585,W9JDK752JWHA,29,Private Sector/Self Employed,Yes,600000,3,0,No,No,No
1586,2JEE5P5T9MT0,34,Private Sector/Self Employed,Yes,850000,3,1,No,Yes,No
1587,797K83M5QWO2,34,Private Sector/Self Employed,No,1300000,4,0,No,No,No
1588,8V9QYC8TCCMF,33,Government Sector,Yes,400000,5,0,No,No,No
1589,8VEME4MXPTBC,28,Private Sector/Self Employed,Yes,750000,5,1,Yes,No,No

In [10]:
###soal tedad satr v soton
bimss = (bime.shape)
print(bimss[0] ,bimss[1])

1590 11

In [11]:
###motevaset daramad salaneh
bime['motevassat'] = bime['AnnualIncome']//bime['FamilyMembers']
bime

,Customer Id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance,motevassat
0,3JUN0VW6F043,34,Private Sector/Self Employed,Yes,1300000,6,0,Yes,No,No,216666
1,VLHY2ABIR4QL,28,Private Sector/Self Employed,Yes,750000,7,0,Yes,No,No,107142
2,6E3F7UNXYNFF,28,Private Sector/Self Employed,Yes,750000,6,0,Yes,No,No,125000
3,JJ8R0ZRYWR31,32,Government Sector,Yes,800000,6,1,No,No,No,133333
4,2WGFUEX6IEHM,34,Private Sector/Self Employed,Yes,700000,4,1,No,No,No,175000
...,...,...,...,...,...,...,...,...,...,...,...
1585,W9JDK752JWHA,29,Private Sector/Self Employed,Yes,600000,3,0,No,No,No,200000
1586,2JEE5P5T9MT0,34,Private Sector/Self Employed,Yes,850000,3,1,No,Yes,No,283333
1587,797K83M5QWO2,34,Private Sector/Self Employed,No,1300000,4,0,No,No,No,325000
1588,8V9QYC8TCCMF,33,Government Sector,Yes,400000,5,0,No,No,No,80000
1589,8VEME4MXPTBC,28,Private Sector/Self Employed,Yes,750000,5,1,Yes,No,No,150000

In [12]:
#moshtarian sabeghe safar khareji
bime.groupby('EverTravelledAbroad').agg('size')["Yes"]

302

In [13]:
# tedad bajhsh khososi v omomi
tedad_khsosi = (bime['Employment Type']=='Private Sector/Self Employed').value_counts(True)
tedad_gheir_khsosi = (bime['Employment Type']=='Government Sector').value_counts(True)

In [14]:
#tedad afrad daray bimari zaminehi bimeh shodeh

In [15]:
tedad_zaminehi = (bime['ChronicDiseases']==1).value_counts()[True]
tedad_bimehi = (bime['TravelInsurance']=='Yes').value_counts()[True]
result = tedad_zaminehi/tedad_bimehi
result.round(2)

0.8