## EX 1

###### part 1

In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv("imdb_movie_rank.csv")
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [3]:
len(movies)

979

In [4]:
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

###### part 2

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 0 to 978
Data columns (total 6 columns):
star_rating       979 non-null float64
title             979 non-null object
content_rating    976 non-null object
genre             979 non-null object
duration          979 non-null int64
actors_list       979 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 46.0+ KB

there are three rows containing null values

In [6]:
null_ = movies.isnull().any(axis=1)
null_rows = movies[null_]
null_rows

,star_rating,title,content_rating,genre,duration,actors_list
187,8.2,Butch Cassidy and the Sundance Kid,NaN,Biography,110,"[u'Paul Newman', u'Robert Redford', u'Katharin..."
649,7.7,Where Eagles Dare,NaN,Action,158,"[u'Richard Burton', u'Clint Eastwood', u'Mary ..."
936,7.4,True Grit,NaN,Adventure,128,"[u'John Wayne', u'Kim Darby', u'Glen Campbell']"

In [7]:
# movies = movies.drop([187,649,936])
movies.dropna(inplace = True, axis=0)

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 976 entries, 0 to 978
Data columns (total 6 columns):
star_rating       976 non-null float64
title             976 non-null object
content_rating    976 non-null object
genre             976 non-null object
duration          976 non-null int64
actors_list       976 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 53.4+ KB

Now there are no null values

###### part 3

In [9]:
long_movies = movies.sort_values('duration' , ascending = False)
long_movies = long_movies.head(50)

In [10]:
long_movies.to_csv("long_time.csv", sep=',',index=False)

###### part 5

In [11]:
movies.groupby('genre').star_rating.mean()

genre
Action       7.885926
Adventure    7.940541
Animation    7.914516
Biography    7.857895
Comedy       7.822436
Crime        7.916935
Drama        7.902518
Family       7.850000
Fantasy      7.700000
Film-Noir    8.033333
History      8.000000
Horror       7.806897
Mystery      7.975000
Sci-Fi       7.920000
Thriller     7.680000
Western      8.255556
Name: star_rating, dtype: float64

###### part 6

In [12]:
for time in movies["duration"]:
    if time >= 150:
        movies["150_or_more"]=0
    else:
        movies["150_or_more"]=1
movies

,star_rating,title,content_rating,genre,duration,actors_list,150_or_more
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",1
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",1
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",1
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",1
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",1
...,...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...",1
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...",1
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",1
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...",1
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",1

###### part 8

In [13]:
newratings=movies.sort_values(["genre","star_rating"],ascending=False)
newratings

,star_rating,title,content_rating,genre,duration,actors_list,150_or_more
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...",1
26,8.6,Once Upon a Time in the West,PG-13,Western,175,"[u'Henry Fonda', u'Charles Bronson', u'Claudia...",1
59,8.5,Django Unchained,R,Western,165,"[u'Jamie Foxx', u'Christoph Waltz', u'Leonardo...",1
107,8.3,For a Few Dollars More,APPROVED,Western,132,"[u'Clint Eastwood', u'Lee Van Cleef', u'Gian M...",1
119,8.3,Unforgiven,R,Western,131,"[u'Clint Eastwood', u'Gene Hackman', u'Morgan ...",1
...,...,...,...,...,...,...,...
918,7.5,Running Scared,R,Action,122,"[u'Paul Walker', u'Cameron Bright', u'Chazz Pa...",1
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc...",1
963,7.4,La Femme Nikita,R,Action,118,"[u'Anne Parillaud', u'Marc Duret', u'Patrick F...",1
967,7.4,The Rock,R,Action,136,"[u'Sean Connery', u'Nicolas Cage', u'Ed Harris']",1
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",1

In [14]:
newratings.groupby("genre").head(3)

,star_rating,title,content_rating,genre,duration,actors_list,150_or_more
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...",1
26,8.6,Once Upon a Time in the West,PG-13,Western,175,"[u'Henry Fonda', u'Charles Bronson', u'Claudia...",1
59,8.5,Django Unchained,R,Western,165,"[u'Jamie Foxx', u'Christoph Waltz', u'Leonardo...",1
350,8.0,Shadow of a Doubt,APPROVED,Thriller,108,"[u'Teresa Wright', u'Joseph Cotten', u'Macdona...",1
496,7.8,Misery,R,Thriller,107,"[u'James Caan', u'Kathy Bates', u'Richard Farn...",1
728,7.6,La piel que habito,R,Thriller,120,"[u'Antonio Banderas', u'Elena Anaya', u'Jan Co...",1
145,8.2,Blade Runner,R,Sci-Fi,117,"[u'Harrison Ford', u'Rutger Hauer', u'Sean You...",1
321,8.0,Brazil,R,Sci-Fi,132,"[u'Jonathan Pryce', u'Kim Greist', u'Robert De...",1
408,7.9,Gravity,PG-13,Sci-Fi,91,"[u'Sandra Bullock', u'George Clooney', u'Ed Ha...",1
38,8.6,Rear Window,APPROVED,Mystery,112,"[u'James Stewart', u'Grace Kelly', u'Wendell C...",1
46,8.5,Memento,R,Mystery,113,"[u'Guy Pearce', u'Carrie-Anne Moss', u'Joe Pan...",1
76,8.4,Vertigo,APPROVED,Mystery,128,"[u'James Stewart', u'Kim Novak', u'Barbara Bel...",1
39,8.6,Psycho,R,Horror,109,"[u'Anthony Perkins', u'Janet Leigh', u'Vera Mi...",1
57,8.5,Alien,R,Horror,117,"[u'Sigourney Weaver', u'Tom Skerritt', u'John ...",1
62,8.5,The Shining,R,Horror,146,"[u'Jack Nicholson', u'Shelley Duvall', u'Danny...",1
338,8.0,Battleship Potemkin,UNRATED,History,66,"[u'Aleksandr Antonov', u'Vladimir Barsky', u'G...",1
105,8.3,The Third Man,NOT RATED,Film-Noir,93,"[u'Orson Welles', u'Joseph Cotten', u'Alida Va...",1
210,8.1,Laura,APPROVED,Film-Noir,88,"[u'Gene Tierney', u'Dana Andrews', u'Clifton W...",1
687,7.7,Spellbound,UNRATED,Film-Noir,111,"[u'Ingrid Bergman', u'Gregory Peck', u'Michael...",1
638,7.7,The City of Lost Children,R,Fantasy,112,"[u'Ron Perlman', u'Daniel Emilfork', u'Judith ...",1
468,7.9,E.T. the Extra-Terrestrial,PG,Family,115,"[u'Henry Thomas', u'Drew Barrymore', u'Peter C...",1
497,7.8,Willy Wonka & the Chocolate Factory,G,Family,100,"[u'Gene Wilder', u'Jack Albertson', u'Peter Os...",1
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...",1
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh...",1
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']",1
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",1
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",1
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",1
25,8.6,Life Is Beautiful,PG-13,Comedy,116,"[u'Roberto Benigni', u'Nicoletta Braschi', u'G...",1
29,8.6,City Lights,PASSED,Comedy,87,"[u'Charles Chaplin', u'Virginia Cherrill', u'F...",1
35,8.6,Modern Times,G,Comedy,87,"[u'Charles Chaplin', u'Paulette Goddard', u'He...",1
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...",1
18,8.7,Goodfellas,R,Biography,146,"[u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']",1
31,8.6,The Intouchables,R,Biography,112,"[u'Fran\xe7ois Cluzet', u'Omar Sy', u'Anne Le ...",1
30,8.6,Spirited Away,PG,Animation,125,"[u'Daveigh Chase', u'Suzanne Pleshette', u'Miy...",1
55,8.5,The Lion King,G,Animation,89,"[u'Matthew Broderick', u'Jeremy Irons', u'Jame...",1
61,8.5,Grave of the Fireflies,UNRATED,Animation,89,"[u'Tsutomu Tatsumi', u'Ayano Shiraishi', u'Ake...",1
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...",1
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl...",1
14,8.8,The Lord of the Rings: The Two Towers,PG-13,Adventure,179,"[u'Elijah Wood', u'Ian McKellen', u'Viggo Mort...",1
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",1
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'...",1
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi...",1

## EX 2

The differences between read_csv() and read_table() in pandas is almost nothing, only that in read_csv the comma is the separator character but in read_table \t can be used in that case

## EX 3

number of movies in each contant ratings:

In [16]:
movies["content_rating"].value_counts()

R            460
PG-13        189
PG           123
NOT RATED     65
APPROVED      47
UNRATED       38
G             32
NC-17          7
PASSED         7
X              4
GP             3
TV-MA          1
Name: content_rating, dtype: int64

## EX 4

In [17]:
pd.crosstab(movies.genre, movies.content_rating)

content_rating,APPROVED,G,GP,NC-17,NOT RATED,PASSED,PG,PG-13,R,TV-MA,UNRATED,X
genre,,,,,,,,,,,,
Action,3,1,1,0,4,1,11,44,67,0,3,0
Adventure,3,2,0,0,5,1,21,23,17,0,2,0
Animation,3,20,0,0,3,0,25,5,5,0,1,0
Biography,1,2,1,0,1,0,6,29,36,0,0,0
Comedy,9,2,1,1,16,3,23,23,73,0,4,1
Crime,6,0,0,1,7,1,6,4,87,0,11,1
Drama,12,3,0,4,24,1,25,55,143,1,9,1
Family,0,1,0,0,0,0,1,0,0,0,0,0
Fantasy,0,0,0,0,0,0,0,0,1,0,0,0
Film-Noir,1,0,0,0,1,0,0,0,0,0,1,0
History,0,0,0,0,0,0,0,0,0,0,1,0
Horror,2,0,0,1,1,0,1,2,16,0,5,1
Mystery,4,1,0,0,1,0,1,2,6,0,1,0
Sci-Fi,1,0,0,0,0,0,0,1,3,0,0,0
Thriller,1,0,0,0,0,0,1,0,3,0,0,0
Western,1,0,0,0,2,0,2,1,3,0,0,0

In this example, the .crosstab() method shows that in this dataset, how many movies from each genres have the given contant ratings. It should be noted that the rows of the table are the genres and the columns are content ratings.

## EX 5

In [18]:
movies.corr()

             star_rating  duration  150_or_more
star_rating      1.00000   0.22941          NaN
duration         0.22941   1.00000          NaN
150_or_more          NaN       NaN          NaN

.corr() computes pairwise correlation of the numeric columns, automatically excluding NA/null values.

## EX 6

In [20]:
sample_1 = movies.sample(frac =.75)
sample_1

,star_rating,title,content_rating,genre,duration,actors_list,150_or_more
487,7.8,Kaze tachinu,PG-13,Animation,126,"[u'Hideaki Anno', u'Hidetoshi Nishijima', u'Mi...",1
844,7.5,Pinocchio,APPROVED,Animation,88,"[u'Dickie Jones', u'Christian Rub', u'Mel Blanc']",1
171,8.2,Dial M for Murder,PG,Crime,105,"[u'Ray Milland', u'Grace Kelly', u'Robert Cumm...",1
768,7.6,The Reader,R,Drama,124,"[u'Kate Winslet', u'Ralph Fiennes', u'Bruno Ga...",1
504,7.8,Empire of the Sun,PG,Drama,153,"[u'Christian Bale', u'John Malkovich', u'Miran...",1
...,...,...,...,...,...,...,...
221,8.1,Solaris,PG,Drama,167,"[u'Natalya Bondarchuk', u'Donatas Banionis', u...",1
961,7.4,Capote,R,Biography,114,"[u'Philip Seymour Hoffman', u'Clifton Collins ...",1
472,7.8,Guess Who's Coming to Dinner,UNRATED,Comedy,108,"[u'Spencer Tracy', u'Sidney Poitier', u'Kathar...",1
384,8.0,Breathless,UNRATED,Crime,90,"[u'Jean-Paul Belmondo', u'Jean Seberg', u'Dani...",1
306,8.0,This Is Spinal Tap,R,Comedy,82,"[u'Rob Reiner', u'Michael McKean', u'Christoph...",1

In [21]:
list(sample_1.index)

[487,
 844,
 171,
 768,
 504,
 249,
 482,
 241,
 779,
 310,
 700,
 230,
 686,
 546,
 50,
 924,
 466,
 479,
 568,
 424,
 821,
 593,
 537,
 656,
 143,
 764,
 470,
 751,
 974,
 353,
 866,
 192,
 641,
 831,
 633,
 452,
 901,
 930,
 434,
 378,
 710,
 327,
 814,
 382,
 940,
 86,
 636,
 242,
 627,
 289,
 167,
 84,
 64,
 75,
 253,
 938,
 119,
 592,
 889,
 182,
 704,
 527,
 370,
 540,
 667,
 33,
 922,
 533,
 117,
 450,
 175,
 299,
 881,
 805,
 743,
 513,
 193,
 693,
 868,
 197,
 657,
 578,
 399,
 519,
 613,
 723,
 5,
 115,
 259,
 813,
 906,
 832,
 795,
 726,
 719,
 854,
 0,
 500,
 745,
 477,
 261,
 914,
 968,
 282,
 121,
 48,
 137,
 892,
 498,
 766,
 445,
 911,
 631,
 705,
 917,
 90,
 662,
 594,
 88,
 18,
 685,
 125,
 534,
 846,
 553,
 17,
 945,
 425,
 309,
 972,
 539,
 775,
 600,
 288,
 444,
 269,
 891,
 236,
 574,
 363,
 451,
 163,
 780,
 315,
 208,
 367,
 730,
 463,
 696,
 564,
 274,
 653,
 921,
 349,
 687,
 862,
 806,
 547,
 965,
 223,
 575,
 62,
 279,
 791,
 672,
 614,
 38,
 486,
 420,
 761,
 145,
 729,
 96,
 438,
 931,
 694,
 65,
 738,
 300,
 509,
 684,
 501,
 113,
 132,
 6,
 57,
 357,
 576,
 108,
 396,
 698,
 148,
 99,
 287,
 228,
 258,
 606,
 169,
 626,
 40,
 265,
 439,
 304,
 663,
 790,
 393,
 205,
 49,
 825,
 91,
 335,
 74,
 78,
 360,
 494,
 200,
 144,
 905,
 941,
 886,
 963,
 2,
 380,
 516,
 843,
 54,
 418,
 753,
 788,
 220,
 198,
 458,
 572,
 787,
 525,
 243,
 643,
 240,
 24,
 294,
 89,
 268,
 759,
 529,
 949,
 652,
 584,
 890,
 689,
 887,
 154,
 206,
 571,
 742,
 174,
 736,
 581,
 195,
 397,
 943,
 111,
 369,
 1,
 286,
 560,
 769,
 528,
 722,
 354,
 621,
 588,
 524,
 771,
 798,
 797,
 815,
 776,
 68,
 398,
 617,
 390,
 750,
 597,
 331,
 32,
 77,
 212,
 142,
 858,
 567,
 635,
 238,
 235,
 688,
 245,
 612,
 260,
 442,
 893,
 105,
 681,
 526,
 73,
 677,
 828,
 569,
 587,
 772,
 233,
 476,
 453,
 164,
 783,
 834,
 609,
 599,
 562,
 671,
 446,
 819,
 69,
 634,
 373,
 913,
 98,
 718,
 577,
 678,
 71,
 359,
 22,
 35,
 842,
 717,
 499,
 650,
 952,
 52,
 285,
 355,
 591,
 440,
 713,
 160,
 861,
 457,
 252,
 59,
 954,
 298,
 449,
 411,
 955,
 707,
 443,
 124,
 898,
 325,
 104,
 185,
 485,
 624,
 102,
 884,
 521,
 333,
 579,
 502,
 946,
 266,
 189,
 147,
 431,
 92,
 542,
 409,
 810,
 58,
 853,
 964,
 305,
 543,
 176,
 29,
 869,
 784,
 394,
 883,
 816,
 136,
 361,
 682,
 429,
 833,
 879,
 607,
 836,
 691,
 675,
 556,
 715,
 464,
 808,
 227,
 290,
 427,
 101,
 848,
 209,
 120,
 448,
 138,
 254,
 432,
 932,
 25,
 172,
 608,
 385,
 773,
 109,
 118,
 601,
 809,
 406,
 811,
 123,
 747,
 364,
 37,
 395,
 630,
 916,
 970,
 907,
 93,
 72,
 491,
 960,
 796,
 837,
 638,
 270,
 272,
 207,
 232,
 552,
 346,
 731,
 13,
 739,
 191,
 341,
 864,
 14,
 551,
 468,
 918,
 401,
 910,
 863,
 413,
 760,
 437,
 959,
 870,
 976,
 544,
 152,
 620,
 415,
 280,
 465,
 256,
 711,
 488,
 166,
 173,
 865,
 31,
 585,
 214,
 403,
 484,
 939,
 95,
 950,
 383,
 311,
 849,
 329,
 387,
 130,
 218,
 350,
 642,
 459,
 97,
 222,
 116,
 408,
 725,
 79,
 778,
 770,
 159,
 902,
 875,
 856,
 855,
 283,
 754,
 133,
 291,
 106,
 454,
 94,
 590,
 589,
 953,
 100,
 352,
 131,
 345,
 162,
 296,
 226,
 645,
 322,
 703,
 756,
 264,
 794,
 674,
 368,
 332,
 716,
 637,
 462,
 619,
 721,
 362,
 447,
 942,
 514,
 648,
 872,
 602,
 196,
 153,
 973,
 126,
 112,
 419,
 391,
 330,
 12,
 557,
 841,
 417,
 545,
 211,
 334,
 63,
 912,
 618,
 36,
 706,
 308,
 640,
 157,
 692,
 314,
 343,
 478,
 129,
 720,
 586,
 366,
 358,
 897,
 273,
 966,
 61,
 255,
 3,
 430,
 381,
 654,
 21,
 792,
 461,
 566,
 231,
 867,
 709,
 127,
 733,
 128,
 158,
 827,
 928,
 948,
 483,
 969,
 402,
 107,
 549,
 428,
 933,
 929,
 690,
 46,
 782,
 767,
 324,
 421,
 915,
 804,
 956,
 122,
 683,
 433,
 793,
 239,
 623,
 217,
 342,
 9,
 45,
 803,
 506,
 512,
 177,
 839,
 851,
 758,
 215,
 356,
 785,
 697,
 531,
 27,
 168,
 661,
 655,
 340,
 561,
 351,
 977,
 110,
 520,
 823,
 975,
 580,
 958,
 377,
 347,
 878,
 962,
 400,
 554,
 407,
 695,
 647,
 323,
 155,
 666,
 536,
 799,
 541,
 873,
 812,
 651,
 312,
 426,
 565,
 39,
 203,
 372,
 348,
 495,
 497,
 481,
 134,
 603,
 23,
 595,
 665,
 180,
 845,
 179,
 762,
 246,
 598,
 802,
 735,
 336,
 237,
 971,
 570,
 957,
 746,
 11,
 752,
 517,
 664,
 146,
 441,
 293,
 141,
 297,
 316,
 319,
 658,
 934,
 820,
 781,
 708,
 518,
 548,
 26,
 925,
 326,
 669,
 822,
 659,
 221,
 961,
 472,
 384,
 306]

In [22]:
sample_2=movies.drop(sample_1.index)
sample_2

,star_rating,title,content_rating,genre,duration,actors_list,150_or_more
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",1
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...",1
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...",1
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl...",1
15,8.7,Interstellar,PG-13,Adventure,169,"[u'Matthew McConaughey', u'Anne Hathaway', u'J...",1
...,...,...,...,...,...,...,...
944,7.4,Terms of Endearment,R,Comedy,132,"[u'Shirley MacLaine', u'Debra Winger', u'Jack ...",1
947,7.4,Eraserhead,UNRATED,Drama,89,"[u'Jack Nance', u'Charlotte Stewart', u'Allen ...",1
951,7.4,Sleepy Hollow,R,Drama,105,"[u'Johnny Depp', u'Christina Ricci', u'Miranda...",1
967,7.4,The Rock,R,Action,136,"[u'Sean Connery', u'Nicolas Cage', u'Ed Harris']",1
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",1

## EX 7

pivot_table() is used to create a spreadsheet-style pivot table as a DataFrame. The levels in the pivot table will be stored in MultiIndex objects (hierarchical indexes) on the index and columns of the result DataFrame.

like in music sites, using this method, we can create a table having the users as the rows and the songs in the columns and the cells in this table are the ratings of different musics given by each user.